modules = ["python-3.11:v20-20240105-957ab14"]

hidden = [".pythonlibs"]
run = "server.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "python3 backend/app/server.py"]
deploymentTarget = "gce"

[[ports]]
localPort = 8100
externalPort = 80
